<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}">
    <script src="https://kit.fontawesome.com/81f686e84d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <style>


    </style>
    <script>
        var user = '{{ request.user }}'
        function gettoken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = gettoken('csrftoken');
    </script>


</head>
<body>
<div class="bg1">
    <nav class="navbar navbar-expand-lg navbar-dark ">

        <ul class="navbar-nav mr-auto w-100">

            <li class="nav-item ml-5">
                <a class="nav-link grey_text_web display_none_ipad "><i class="text_gold far fa-envelope mr-3"></i>Email:elfida@gmail.com</a>
            </li>
            <li class="nav-item ml-5 ">
                <a class="nav-link grey_text_web display_none_ipad"><i class="text_gold fas fa-phone-alt mr-3"></i>Call Us: 123 - 456 - 7890</a>
            </li>
            <div class="row navbar_padding_custom">
                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                    <li class="nav-item ">
                        <a class="nav-link grey_text_web iphone_5_text_size"><i class="text_gold fas fa-heart mr-3 "></i>Wishlist</a>
                    </li>
                </div>


                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                    <li class="nav-item dropdown w-125 iphone_dropdown_margin">
                        <a class="nav-link  grey_text_web navbarprofile_padding iphone_5_text_size" href="#" id="profile" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-user mr-2"></i>
                            My Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="profile">
                            <a class="dropdown-item" href="login.html">Login</a>
                            <a class="dropdown-item" href="#">Logout</a>

                        </div>
                    </li>
                </div>
            </div>


        </ul>

        <!--        </div>-->
    </nav>
</div>
<nav class="navbar navbar-expand-lg navbar-dark  ">
    <a class="navbar-brand" href="index.html"><img class="logo" src="{% static 'asset/images/Logo.png' %}" width="25%"  >  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
            aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-nav-custom " id="navbarSupportedContent2">
        <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item ">
                <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown ml-2">
                <a class="nav-link text-white" href="Product_page.html" id="womencloth" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Women Clothing
                </a>
                <div class="dropdown-menu" aria-labelledby="womencloth">
                    <a class="dropdown-item" href="Product_page.html">Dresses</a>
                    <a class="dropdown-item" href="Product_page.html">Pants, Jeans & Trousers</a>
                    <a class="dropdown-item" href="Product_page.html">T-Shirts</a>
                    <a class="dropdown-item" href="Product_page.html">Blouses</a>
                    <a class="dropdown-item" href="Product_page.html">Coats</a>
                    <a class="dropdown-item" href="Product_page.html">Sleep & Lounge</a>
                    <a class="dropdown-item" href="Product_page.html">Swimsuits</a>
                    <a class="dropdown-item" href="Product_page.html">Pullover Sweaters & Cardigans</a>
                    <a class="dropdown-item" href="Product_page.html">Sweatshirts & Hoodies</a>
                    <a class="dropdown-item" href="Product_page.html">Suits & Sets</a>
                    <a class="dropdown-item" href="Product_page.html">Prom Dresses</a>
                    <a class="dropdown-item" href="Product_page.html">Jumpsuits & Rompers</a>
                </div>
            </li>
            <li class="nav-item dropdown ml-2">
                <a class="nav-link text-white" href="Product_page.html" id="mencloth" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Mens Clothing
                </a>
                <div class="dropdown-menu" aria-labelledby="mencloth">
                    <a class="dropdown-item" href="Product_page.html">Sport Wear</a>
                    <a class="dropdown-item" href="Product_page.html">Bottoms</a>
                    <a class="dropdown-item" href="Product_page.html">Tops & Tees</a>
                    <a class="dropdown-item" href="Product_page.html">Hoodies & Sweatshirts</a>
                    <a class="dropdown-item" href="Product_page.html">Jackets & Coats</a>
                    <a class="dropdown-item" href="Product_page.html">Shirts</a>
                    <a class="dropdown-item" href="Product_page.html">Suits & Blazers</a>
                    <a class="dropdown-item" href="Product_page.html">Sweaters</a>
                    <a class="dropdown-item" href="Product_page.html">Socks</a>
                    <a class="dropdown-item" href="Product_page.html">Swimsuits</a>

                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="middle">
                        <form class="search-box">
                            <input type="text" class="input" name="">
                            <button type="button" class="btn3 no_focus" name="button"></button>
                        </form>
                    </div>
                </a>
            </li>
            <li class="nav-item dropdown navbar_padding_custom2">
                <a class="nav-link text-white " href="cart.html" id="cart" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-shopping-cart fa-lg "></i>
                     <p id="cart-total">{{ cartitems }}</p>
                </a>
                <div class="dropdown-menu dropdown-left bg-dark text-white" aria-labelledby="cart">
                    {% for item in items %}
                    <div class="row mt-2">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-5">
                            <img src="{{item.product.imageUrl}}" alt="img" width="100%" >

                        </div>
                        <div class="col-xl-5 mt-4 col-lg-5 col-md-5 col-5">
                            <h5>{{item.product.name}}</h5>
                            <p>{{ item.quantity}} &#215 ${{item.product.price}}</p>

                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                            <i class="far fa-times-circle"></i>

                        </div>


                    </div>
                    {% endfor %}
                    <hr class="custom_hr">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                            <p class="mb-0">Subtotal</p>

                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-4"></div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                            <p class="mb-0">${{ order.get_cart_total|floatformat:2}}</p>

                        </div>

                    </div>
                    <hr class="custom_hr">
                    <div class="row mt-3 mb-2">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                            <a href="cart.html" >


                                <button type="button" class="btn btn-light  btn-block">View Cart</button>
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                            <a href="checkout.html" >
                                <button type="button" href="#" class="btn btn-light  btn-block">Checkout</button>
                            </a>
                        </div>

                    </div>
                </div>
            </li>


        </ul>

    </div>
</nav>
{% block content %}

{% endblock %}

<footer>
    <div class="container-fluid">
        <div class="row mt-5 mb-5 font_size_ipad">
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                <img src="{% static 'asset/images/Logo.png' %}" width="35%"  >
                <p class="mt-2">Subscribe to our newsletter</p>
                <form>
                    <div class="row">
                        <div class="col-md-8 pr-0 col-8">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-md-4 col-4 pl_0">
                            <button type="submit" class="btn btn-dark btn-block width_block ">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1"> </div>
            <div class="col-xl-2 col-lg-2 font-weight-bold mt-3 col-md-2 col-3">

                <h3>Shopping</h3>

                <a href="Product_page.html">
                    <p class="text-white">Products</p>
                </a>
                <a href="cart.html">
                    <p class="text-white">Cart</p>
                </a>

            </div>
            <div class="col-xl-2 col-lg-2 font-weight-bold mt-3 col-md-2 col-3">
                <h3>Account</h3>
                <a href="login.html">
                    <p class="text-white">Login</p>
                </a>
                <a href="Register.html">
                    <p class="text-white">Sign-up</p>
                </a>
                <a href="seller/seller_register.html">
                    <p class="text-white">Become a Seller</p>
                </a>

            </div>
            <div class="col-xl-3 col-lg-3 font-weight-bold mt-3 col-md-3 col-6">
                <h3>Customer Support</h3>
                <p >FAQ</p>
                <p >Help</p>
            </div>

        </div>


    </div>
    <div class="bg1">
        <div class="container-fluid">
            <div class="row pt-3 footer_text">
                <div class="col-xl-3 mt-3 col-lg-3 col-md-3 col-6">
                    <p>Copyright All right Reserved.</p>
                </div>
                <div class="col-xl-2 mt-3 col-lg-2 col-md-2 col-6">
                    <p>Terms & Conditions</p>

                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-6 text_center">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4  text_center col-4">
                            <p><i class="fab fa-facebook-f fa-2x"></i></p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-4  text_center col-4">
                            <p><i class="fab fa-instagram fa-2x "></i></p>

                        </div>

                    </div>
                </div>
                <div class="col-xl-2 mt-3 col-lg-2 col-md-2 col-6 ">
                    <p>Privacy Policy</p>

                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12 text_center mt_mobile_3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-4 col-4">
                            <i class="fab fa-cc-visa fa-2x"></i>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-4 col-4">
                            <i class="fab fa-cc-mastercard fa-2x"></i>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-4 col-4">
                            <i class="fab fa-paypal fa-2x"></i>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'asset/js/cart.js' %}"></script>
</body>
<script>
    $(".btn3").on("click", function () {
        $(".input").toggleClass("inclicked");
        $(".btn3").toggleClass("close");
    });
</script>
<!--<script>-->
<!--    $('.carousel-main').owlCarousel({-->
<!--        items: 5,-->
<!--        loop: true,-->
<!--        autoplay: true,-->
<!--        autoplayTimeout: 1500,-->
<!--        margin: 10,-->
<!--        nav: true,-->
<!--        dots: false,-->
<!--        navText: ['<span class="fas fa-chevron-left fa-2x"></span>','<span class="fas fa-chevron-right fa-2x"></span>'],-->
<!--    })-->
<!--</script>-->
<script>
    $('.carousel-main2').owlCarousel({
        items: 7,
        loop: true,
        autoplay: true,
        autoplayTimeout: 5000,
        margin: 10,
        nav: true,
        dots: false,
        navText: ['<span class="fas fa-chevron-left fa-2x"></span>','<span class="fas fa-chevron-right fa-2x"></span>'],
    })
</script>

</html>

