<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/asset/css/style.css">
    <link rel="stylesheet" href="../static/asset/css/style.css">
    <script src="https://kit.fontawesome.com/81f686e84d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../static/asset/js/slider.js"></script>



</head>
<body>
<div class="bg1">
    <nav class="navbar navbar-expand-lg navbar-dark ">

        <ul class="navbar-nav mr-auto w-100">

            <li class="nav-item ml-5">
                <a class="nav-link grey_text_web display_none_ipad"><i class="text_gold far fa-envelope mr-3"></i>Email:elfida@gmail.com</a>
            </li>
            <li class="nav-item ml-5 ">
                <a class="nav-link grey_text_web display_none_ipad"><i class="text_gold fas fa-phone-alt mr-3"></i>Call Us: 123 - 456 - 7890</a>
            </li>
            <div class="row navbar_padding_custom">
                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                    <li class="nav-item ">
                        <a class="nav-link grey_text_web iphone_5_text_size"><i class="text_gold fas fa-heart mr-3 "></i>Wishlist</a>
                    </li>
                </div>


                <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                    <li class="nav-item dropdown w-125 iphone_dropdown_margin">
                        <a class="nav-link  grey_text_web navbarprofile_padding iphone_5_text_size" href="#" id="profile" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-user mr-2"></i>
                            My Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="profile">
                            <a class="dropdown-item" href="login.html">Login</a>
                            <a class="dropdown-item" href="#">Logout</a>

                        </div>
                    </li>
                </div>
            </div>


        </ul>

        <!--        </div>-->
    </nav>
</div>
<nav class="navbar navbar-expand-lg navbar-dark  ">
    <a class="navbar-brand" href="index.html"><img class="logo" src="../static/asset/images/Logo.png" width="25%"  >  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
            aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-nav-custom" id="navbarSupportedContent2">
        <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item ">
                <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown ml-2">
                <a class="nav-link text-white" href="Product_page.html" id="womencloth" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Women Clothing
                </a>
                <div class="dropdown-menu" aria-labelledby="womencloth">
                    <a class="dropdown-item" href="Product_page.html">Dresses</a>
                    <a class="dropdown-item" href="Product_page.html">Pants, Jeans & Trousers</a>
                    <a class="dropdown-item" href="Product_page.html">T-Shirts</a>
                    <a class="dropdown-item" href="Product_page.html">Blouses</a>
                    <a class="dropdown-item" href="Product_page.html">Coats</a>
                    <a class="dropdown-item" href="Product_page.html">Sleep & Lounge</a>
                    <a class="dropdown-item" href="Product_page.html">Swimsuits</a>
                    <a class="dropdown-item" href="Product_page.html">Pullover Sweaters & Cardigans</a>
                    <a class="dropdown-item" href="Product_page.html">Sweatshirts & Hoodies</a>
                    <a class="dropdown-item" href="Product_page.html">Suits & Sets</a>
                    <a class="dropdown-item" href="Product_page.html">Prom Dresses</a>
                    <a class="dropdown-item" href="Product_page.html">Jumpsuits & Rompers</a>
                </div>
            </li>
            <li class="nav-item dropdown ml-2">
                <a class="nav-link text-white" href="Product_page.html" id="mencloth" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Mens Clothing
                </a>
                <div class="dropdown-menu" aria-labelledby="mencloth">
                    <a class="dropdown-item" href="Product_page.html">Sport Wear</a>
                    <a class="dropdown-item" href="Product_page.html">Bottoms</a>
                    <a class="dropdown-item" href="Product_page.html">Tops & Tees</a>
                    <a class="dropdown-item" href="Product_page.html">Hoodies & Sweatshirts</a>
                    <a class="dropdown-item" href="Product_page.html">Jackets & Coats</a>
                    <a class="dropdown-item" href="Product_page.html">Shirts</a>
                    <a class="dropdown-item" href="Product_page.html">Suits & Blazers</a>
                    <a class="dropdown-item" href="Product_page.html">Sweaters</a>
                    <a class="dropdown-item" href="Product_page.html">Socks</a>
                    <a class="dropdown-item" href="Product_page.html">Swimsuits</a>

                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="middle">
                        <form class="search-box">
                            <input type="text" class="input" name="">
                            <button type="button" class="btn3 no_focus" name="button"></button>
                        </form>
                    </div>
                </a>
            </li>
            <li class="nav-item dropdown navbar_padding_custom2">
                <a class="nav-link text-white " href="cart.html" id="cart" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-shopping-cart fa-lg "></i>
                </a>
                <div class="dropdown-menu dropdown-left bg-dark text-white" aria-labelledby="cart">
                    <div class="row mt-2">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-5">
                            <img src="../static/asset/images/img1%20(3).jpg" alt="img" width="100%" >

                        </div>
                        <div class="col-xl-5 mt-4 col-lg-5 col-md-5 col-5">
                            <h5>Dress</h5>
                            <p>1X130.00$</p>

                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                            <i class="far fa-times-circle"></i>

                        </div>


                    </div>
                    <hr class="custom_hr">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                            <p class="mb-0">Subtotal</p>

                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-4"></div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-4">
                            <p class="mb-0">130.00$</p>

                        </div>

                    </div>
                    <hr class="custom_hr">
                    <div class="row mt-3 mb-2">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                            <a href="cart.html" >


                                <button type="button" class="btn btn-light  btn-block">View Cart</button>
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                            <a href="checkout.html" >
                                <button type="button" href="#" class="btn btn-light  btn-block">Checkout</button>
                            </a>
                        </div>

                    </div>
                </div>
            </li>


        </ul>

    </div>
</nav>
<div class="container text_gold">
    <div class="row mt-5">

        <div class="col-lg-4 col-xl-4 col-md-4">
            <p>Home/Women Clothing/Jeans</p>
            <p>Sort By:Most Popular | Newest Arrival</p>

        </div>



    </div>
    <div class="card  border bg-dark2  p-4">
        <div class="row mt-4 ">
            <div class="col-lg-2 col-xl-4 col-md-12  col-12">
                <div class="dropdown ">
                    <button class="btn text_gold btn-block  btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Price Range
                    </button>
                    <div class="dropdown-menu p-4 btn-dark" aria-labelledby="dropdownMenuButton">
                        <div class="row ">
                            <div class="col-lg-9 col-xl-9 col-md-9 col-9">
                                <p>
                                    $<input class="border-0 w-25 " type="text" id="amount_min" >
                                </p>

                            </div>
                            <div class="col-lg-3 col-xl-3 col-md-3 col-3">
                                <p class=" text-left">
                                    $<input class="border-0 w-75  " type="text" id="amount_max" >
                                </p>
                            </div>
                        </div>
                        <div  id="slider-range"></div>
                    </div>
                </div>





            </div>
            <div class="col-lg-2 col-xl-4 col-md-12 ">
                <div class="dropdown">
                    <button class="btn text_gold btn-block  btn-light dropdown-toggle " type="button" id="size" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Size
                    </button>
                    <div class="dropdown-menu p-4 btn-dark" aria-labelledby="size">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="xxl">
                            <label class="form-check-label" for="xxl">XXL</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="xl">
                            <label class="form-check-label" for="xl">XL</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="L">
                            <label class="form-check-label" for="L">L</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="M">
                            <label class="form-check-label" for="M">M</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="s">
                            <label class="form-check-label" for="s">S</label>
                        </div>

                    </div>



                </div>


            </div>
            <div class="col-lg-2 col-xl-4 col-md-12 ">
                <div class="form-group">

                    <select class="form-control text_gold  btn-light btn-block " >
                        <option selected disabled>Color</option>
                        <option >Black</option>
                        <option >Green</option>
                        <option >Yellow</option>
                        <option >Orange</option>
                        <option >White</option>
                        <option>Grey</option>
                        <option >Red</option>
                        <option >Light Blue</option>
                        <option >Dark Blue</option>
                        <option >Dark Grey</option>
                    </select>
                </div>







            </div>

        </div>
    </div>








    <div class="row   mt-5">
        <div class="col-lg-3  col-xl-3 col-md-6 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card ">
                    <img class="card-img-top" src="../static/asset/images/img1%20(1).jpg" alt="Card image cap">

                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>
                        </a>


                    </div>

                </div>
            </a>
        </div>
        <div class="col-lg-3  col-xl-3 col-md-6 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card">
                    <img class="card-img-top" src="../static/asset/images/img1%20(2).jpg" alt="Card image cap">
                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>

                        </a>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card">
                    <img class="card-img-top" src="../static/asset/images/img1%20(3).jpg" alt="Card image cap">
                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>

                        </a>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3   col-xl-3 col-md-6 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card">
                    <img class="card-img-top" src="../static/asset/images/img1%20(4).jpg" alt="Card image cap">
                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>

                        </a>
                    </div>
                </div>
            </a>
        </div>


    </div>
    <div class="row mt-5  ">
        <div class="col-lg-3   col-xl-3 col-md-6 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card">
                    <img class="card-img-top" src="../static/asset/images/img1%20(5).jpg" alt="Card image cap">
                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>
                        </a>


                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3   col-xl-3 col-md-6 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card">
                    <img class="card-img-top" src="../static/asset/images/img1%20(6).jpg" alt="Card image cap">
                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>
                        </a>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3   col-xl-3 col-md-6 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card">
                    <img class="card-img-top" src="../static/asset/images/img1%20(7).jpg" alt="Card image cap">
                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>
                        </a>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3   col-xl-3 col-md-6 col-12 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card">
                    <img class="card-img-top" src="../static/asset/images/img1%20(8).jpg" alt="Card image cap">
                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>

                        </a>
                    </div>
                </div>
            </a>
        </div>


    </div>
    <div class="row mt-5 mb-5 ">
        <div class="col-lg-3   col-xl-3 col-md-6 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card">
                    <img class="card-img-top" src="../static/asset/images/img1%20(9).jpg" alt="Card image cap">
                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>

                        </a>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3   col-xl-3 col-md-6 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card">
                    <img class="card-img-top" src="../static/asset/images/img1%20(10).jpg" alt="Card image cap">
                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>
                        </a>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3   col-xl-3 col-md-6 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card">
                    <img class="card-img-top" src="../static/asset/images/img1%20(11).jpg" alt="Card image cap">
                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>
                        </a>


                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3   col-xl-3 col-md-6 col-12 mt_ipad_5">
            <a href="product_desc.html">
                <div class="card">
                    <img class="card-img-top" src="../static/asset/images/img1%20(8).jpg" alt="Card image cap">
                    <div class="card-body p-1">
                        <h4 class="card-title font-weight-bold mb-0">Anubhutee</h4>
                        <p class="mb-0">Women Navy Blue Paisley</p>
                        <p class="text-center mb-0">230 $</p>
                        <a href="cart.html">
                            <button type="button" class="btn2 btn-dark btn-block">Add to Cart</button>
                        </a>


                    </div>
                </div>
            </a>
        </div>


    </div>

    <!--        </div>-->

    <!--    </div>-->

    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link " href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link " href="#">1</a></li>
            <li class="page-item"><a class="page-link " href="#">2</a></li>
            <li class="page-item"><a class="page-link " href="#">3</a></li>
            <li class="page-item">
                <a class="page-link " href="#">Next</a>
            </li>
        </ul>
    </nav>

</div>

<footer>
    <div class="container-fluid">
        <div class="row mt-5 mb-5 font_size_ipad">
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                <img src="../static/asset/images/Logo.png" width="35%"  >
                <p class="mt-2">Subscribe to our newsletter</p>
                <form>
                    <div class="row">
                        <div class="col-md-8 pr-0 col-8">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-md-4 col-4 pl_0">
                            <button type="submit" class="btn btn-dark btn-block width_block ">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1"> </div>
            <div class="col-xl-2 col-lg-2 font-weight-bold mt-3 col-md-2 col-3">

                <h3>Shopping</h3>

                <a href="Product_page.html">
                    <p class="text-white">Products</p>
                </a>
                <a href="cart.html">
                    <p class="text-white">Cart</p>
                </a>

            </div>
            <div class="col-xl-2 col-lg-2 font-weight-bold mt-3 col-md-2 col-3">
                <h3>Account</h3>
                <a href="login.html">
                    <p class="text-white">Login</p>
                </a>
                <a href="Register.html">
                    <p class="text-white">Sign-up</p>
                </a>
                <a href="seller/seller_register.html">
                    <p class="text-white">Become a Seller</p>
                </a>

            </div>
            <div class="col-xl-3 col-lg-3 font-weight-bold mt-3 col-md-3 col-6">
                <h3>Customer Support</h3>
                <p >FAQ</p>
                <p >Help</p>
            </div>

        </div>


    </div>
    <div class="bg1">
        <div class="container-fluid">
            <div class="row pt-3 footer_text">
                <div class="col-xl-3 mt-3 col-lg-3 col-md-3 col-6">
                    <p>Copyright All right Reserved.</p>
                </div>
                <div class="col-xl-2 mt-3 col-lg-2 col-md-2 col-6">
                    <p>Terms & Conditions</p>

                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-6 text_center">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4  text_center col-4">
                            <p><i class="fab fa-facebook-f fa-2x"></i></p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-4  text_center col-4">
                            <p><i class="fab fa-instagram fa-2x "></i></p>

                        </div>

                    </div>
                </div>
                <div class="col-xl-2 mt-3 col-lg-2 col-md-2 col-6 ">
                    <p>Privacy Policy</p>

                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-12 text_center mt_mobile_3">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-4 col-4">
                            <i class="fab fa-cc-visa fa-2x"></i>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-4 col-4">
                            <i class="fab fa-cc-mastercard fa-2x"></i>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-4 col-4">
                            <i class="fab fa-paypal fa-2x"></i>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
<script>
    $(".btn3").on("click", function () {
        $(".input").toggleClass("inclicked");
        $(".btn3").toggleClass("close");
    });
</script>

<!--<script>-->
<!--    $('.carousel-main').owlCarousel({-->
<!--        items: 5,-->
<!--        loop: true,-->
<!--        autoplay: true,-->
<!--        autoplayTimeout: 1500,-->
<!--        margin: 10,-->
<!--        nav: true,-->
<!--        dots: false,-->
<!--        navText: ['<span class="fas fa-chevron-left fa-2x"></span>','<span class="fas fa-chevron-right fa-2x"></span>'],-->
<!--    })-->
<!--</script>-->
<script>
    $('.carousel-main2').owlCarousel({
        items: 7,
        loop: true,
        autoplay: true,
        autoplayTimeout: 1500,
        margin: 10,
        nav: true,
        dots: false,
        navText: ['<span class="fas fa-chevron-left fa-2x"></span>','<span class="fas fa-chevron-right fa-2x"></span>'],
    })
</script>

</html>